.seccion {
    margin-top: $separacion / 2;
    margin-bottom: $separacion / 2;
}
.contenido-centrado {
    max-width: 800px;
}

/*Clase de los links activos*/
.active{
    border-bottom: 3px solid $azul;
    
}
.margin-bottom{
    margin-bottom: 5rem;
}