.seccion {
    margin-top: $separacion / 2;
    margin-bottom: $separacion / 2;
}
.contenido-centrado {
    max-width: 800px;
}

/*Clase de los links activos*/
.active{
    border-bottom: 3px solid $azul;
}

.margin-bottom{
    margin-bottom: 5rem;
}
.negrita{
    font-weight: $bold;
}
.uppercase{
    text-transform: uppercase;
}
.boton{
    cursor: pointer;
    margin-left: 12rem;
    padding: 1rem 2rem;
    background-color: $amarillo;
    border: none;
    border-radius: 2rem;
    a{
        font-family: $fuente_principal;
        font-weight: $bold;
        color:$negro;
    }
    display: none;
    @include tablet{
        display: block;
        &:hover{
            border: 2px solid $lila;
            background-color: $negro;
            a{
                color: $amarillo;
            }
        }
    }        
}
