.footer{
    background-color: $azul;
    margin-bottom: 0;
    .social{
        color: $blanco;

        @include tablet{
            display: flex;
            justify-content: left;
            gap: $separacion;
        }
        li{
            margin: 0 auto;
        }
        h3{
            font-family: $fuente_principal;
            text-align: left;
            margin-bottom: 1.5rem;
        }
        a{
            display: flex;
            justify-content: left;
            align-items: center;
            color: $blanco;
            font-family: $fuente_parrafos; 
            text-decoration: underline;
            @include tablet{
                font-size: 2rem;
            }
            p{
                margin: 0 0 0 1rem;
                color: $blanco;
                &:hover{
                    border: 2px solid $blanco;
                }
            }
            
        }
        i{
            font-size: 2rem;
            padding:1rem;
        }
    }
    .copyright{
        background-color: $lila;
        color: $blanco;
        padding: $separacion/2;
        text-align: center;
        margin-bottom: 0;
 
        
    }
    
}