.footer{
    background-color: $azul;
    .social{
        color: $blanco;

        @include tablet{
            display: flex;
            justify-content: left;
            gap: $separacion;
        }
        li{
            margin: 0 auto;
        }
        h3{
            text-align: left;
            margin-bottom: 1.5rem;
        }
        a{
            color: $blanco;
            font-size: 2rem;    
        }
    }
    .copyright{
        background-color: $lila;
        color: $blanco;
        padding: $separacion/2;
        text-align: center;
    }
    
}