.barra{
    display: flex;
    /**flex-direction: column;**/
    justify-content: space-between;
    /*padding-top: 1rem;*/
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
    }
    
}

.navegacion{
    display: none;
    @include tablet{
        display: flex;
        align-items: center;
    }
    

    li{
        color: $azul;
        text-decoration: none;
        font-size: 2.2rem;
        font-weight: $bold;
        display: block;
        text-align: left;
        padding-top: $separacion * 1.5; //me altera el sider-bar

        @include tablet{
            padding: 0;
        }
        
        @include tablet{
            margin-right: 2rem;
            font-size: 1.8rem;
            text-align: center;
            &:last-of-type{
                margin-right: 0;
            }
        }
        &:hover{
            border: 2px solid $azul;
        }
    }
}

hr{
    padding-bottom: 0;
}


/*Menú de Hamburgues*/
.mobile-menu{
    padding-top: 2rem;
    
    @include tablet{
        display: none;
    }
    img{
        width: $separacion;
        cursor: pointer;
    }
}
/*Side-Bar*/
@media (max-width: #{$tablet}){
    .navegacion {
        display: none;
        position: absolute;
        top:7.8rem;
        right: 0;
        background-color: $blanco;
        width: 50%;
        height: 100%;
        //opacity: 0.9;
        
        transition: transform 0.5s ease-in-out;
    }
    .mostrar{
        display: block;
    }
}
