.oportunity{
    margin-top: $separacion;
    background-color: $lila;
    margin-bottom: $separacion;
    h2{
        text-align: left;
        font-weight: $bold;
        color:$blanco;
    }
    p{
        margin-bottom: $separacion;
        color: $blanco;
    }
}